## Deliverable 2. Create a Customer Travel Destinations Map.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [23]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Haines Junction,CA,60.7522,-137.5108,19.35,73,100,0.00,overcast clouds
1,1,Lobito,AO,-12.3481,13.5456,77.07,81,82,3.44,broken clouds
2,2,Bredasdorp,ZA,-34.5322,20.0403,67.32,77,92,12.66,overcast clouds
3,3,Muros,ES,42.7762,-9.0603,55.83,73,9,18.28,clear sky
4,4,Albany,US,42.6001,-73.9662,26.31,53,100,1.01,overcast clouds

In [24]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 110

In [25]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Lobito,AO,-12.3481,13.5456,77.07,81,82,3.44,broken clouds
2,2,Bredasdorp,ZA,-34.5322,20.0403,67.32,77,92,12.66,overcast clouds
3,3,Muros,ES,42.7762,-9.0603,55.83,73,9,18.28,clear sky
9,9,Aitape,PG,-3.1374,142.3475,77.36,89,100,4.45,overcast clouds
12,12,Hermanus,ZA,-34.4187,19.2345,73.90,83,26,16.22,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Grootfontein,NaN,-19.5667,18.1167,67.23,82,83,6.20,light rain
690,690,Astoria,US,46.1879,-123.8313,58.08,69,0,5.75,clear sky
692,692,Vangaindrano,MG,-23.3500,47.6000,74.05,91,1,2.01,clear sky
694,694,Kaman,IN,27.6500,77.2667,53.65,59,0,2.98,clear sky
695,695,Eravur,LK,7.7733,81.6095,76.53,82,93,6.49,overcast clouds

In [26]:
# 4a. Determine if there are any empty rows.

clean_df.count()

City_ID                439
City                   439
Country                434
Lat                    439
Lng                    439
Max Temp               439
Humidity               439
Cloudiness             439
Wind Speed             439
Current Description    439
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Lobito,AO,-12.3481,13.5456,77.07,81,82,3.44,broken clouds
2,2,Bredasdorp,ZA,-34.5322,20.0403,67.32,77,92,12.66,overcast clouds
3,3,Muros,ES,42.7762,-9.0603,55.83,73,9,18.28,clear sky
9,9,Aitape,PG,-3.1374,142.3475,77.36,89,100,4.45,overcast clouds
12,12,Hermanus,ZA,-34.4187,19.2345,73.90,83,26,16.22,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Richards Bay,ZA,-28.7830,32.0377,75.78,91,44,4.50,scattered clouds
690,690,Astoria,US,46.1879,-123.8313,58.08,69,0,5.75,clear sky
692,692,Vangaindrano,MG,-23.3500,47.6000,74.05,91,1,2.01,clear sky
694,694,Kaman,IN,27.6500,77.2667,53.65,59,0,2.98,clear sky
695,695,Eravur,LK,7.7733,81.6095,76.53,82,93,6.49,overcast clouds

In [28]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Lobito,AO,77.07,broken clouds,-12.3481,13.5456,
2,Bredasdorp,ZA,67.32,overcast clouds,-34.5322,20.0403,
3,Muros,ES,55.83,clear sky,42.7762,-9.0603,
9,Aitape,PG,77.36,overcast clouds,-3.1374,142.3475,
12,Hermanus,ZA,73.90,scattered clouds,-34.4187,19.2345,
16,Bluff,NZ,51.80,clear sky,-46.6000,168.3333,
18,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,
20,Avarua,CK,82.45,few clouds,-21.2078,-159.7750,
21,Mahanoro,MG,76.51,light rain,-19.9000,48.8000,
23,Ygatimi,PY,98.31,broken clouds,-24.0833,-55.5000,

In [29]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [38]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Lobito,AO,77.07,broken clouds,-12.3481,13.5456,Casa Rosa Hotel Residence
2,Bredasdorp,ZA,67.32,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
3,Muros,ES,55.83,clear sky,42.7762,-9.0603,Apartment Av. Castelao
12,Hermanus,ZA,73.90,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
16,Bluff,NZ,51.80,clear sky,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [39]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [40]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))